<mat-toolbar class="mat-elevation-z3">
    <span>ISA</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <a mat-button [routerLink]="['/profile']">My profile</a>



    <button *ngIf="role === 'ROLE_ADMIN_CENTER'" mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu">
        <a mat-menu-item [routerLink]="['/admin/approve-user-list']">Approve patients</a>
    </mat-menu>

    <button mat-button (click)="onClickLogout()">Logout</button>
</mat-toolbar>
