<div class="mat-elevation-z3" id="search-div">

    <p>{{clinic.name}}</p>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">

        <mat-form-field>
            <mat-label>Appointment type</mat-label>
            <mat-select name="selectedAppointmentTypeId" [ngModel]="selectedAppointmentTypeId" required>
                <mat-option *ngFor="let appointmentType of appointmentTypeList" [value]="appointmentType.id">
                    {{appointmentType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 180px">
            <input name="selectedDate" matInput [matDatepicker]="picker" placeholder="Choose a date" [matDatepickerFilter]="myFilter" [ngModel]="selectedMoment" readonly required (click)="picker.open()">
            <mat-datepicker-toggle style="margin-right: 0" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" [calendarHeaderComponent]="customHeader"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input name="selectedFirstName" matInput ngModel placeholder="First name">
        </mat-form-field>

        <mat-form-field>
            <input name="selectedLastName" matInput ngModel placeholder="Last name">
        </mat-form-field>

        <mat-radio-group name="selectedRating" [ngModel]="1">
            <span>Min. rating: </span>
            <mat-radio-button [value]="1">1</mat-radio-button>
            <mat-radio-button [value]="2">2</mat-radio-button>
            <mat-radio-button [value]="3">3</mat-radio-button>
            <mat-radio-button [value]="4">4</mat-radio-button>
            <mat-radio-button [value]="5">5</mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button type="submit" [disabled]="!form.valid">Search</button>
    </form>
</div>

<div class="mat-elevation-z3" id="results-div" *ngIf="doctorAvailableWrapperList?.length">
    <div class="mat-elevation-z3 result-div" *ngFor="let doctorAvailableWrapper of doctorAvailableWrapperList">
        <p>{{doctorAvailableWrapper.doctor.fullName}}&nbsp;&nbsp;&nbsp;({{doctorAvailableWrapper.doctor.specialisation}})&nbsp;&nbsp;&nbsp;<mat-icon>star_border</mat-icon><b>{{doctorAvailableWrapper.doctor.ratingAverage>=1?doctorAvailableWrapper.doctor.ratingAverage:'-'}}</b></p>
        <ng-container *ngIf="doctorAvailableWrapper.periodList">
            <mat-divider></mat-divider>
            <div class="time-wrapper">
                <a mat-button *ngFor="let time of doctorAvailableWrapper.getAllTimes()" [routerLink]="[doctorAvailableWrapper.doctor.email, 'confirm-appointment']" [queryParams]="{time: time}">
                    {{time | date:'HH:mm'}}-{{time + doctorAvailableWrapper.appointmentTypeDuration | date:'HH:mm'}}
                </a>
            </div>
        </ng-container>
    </div>
</div>
