<app-header></app-header>

<div id="form-wrapper" class="mat-elevation-z3">
    <p>Change password</p>
    <form #form="ngForm">

        <!-- Password1 -->
        <mat-form-field>
            <input matInput type="password" name="password1" placeholder="Password" ngModel #password="ngModel" required>
            <mat-error *ngIf="password.errors?.required">Can not be empty</mat-error>
        </mat-form-field>

        <!-- Password2 -->
        <mat-form-field>
            <input matInput type="password" name="password2" placeholder="Repeat password" ngModel #password2="ngModel" required pattern="{{password.value}}">
            <mat-error *ngIf="password2.errors?.required">Can not be empty</mat-error>
            <mat-error *ngIf="password2.errors?.pattern">Passwords do not match</mat-error>
        </mat-form-field>

        <div id="button-wrapper">
            <button mat-raised-button type="button" (click)="onConfirmClick(form)">Confirm</button>
            <button mat-button type="button" [routerLink]="['/profile']">Cancel</button>
        </div>
    </form>
</div>
