#search-div {
  border-radius: 4px;
  margin: 20px;
  padding: 5px 10px 0px 10px;
  text-align: center;

  form {
    * {
      margin-right: 15px;
    }

    button {
      margin-bottom: 10px;
    }
  }
}

