<div class="mat-elevation-z3" id="search-div">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">

        <mat-form-field>
            <mat-label>Appointment type</mat-label>
            <mat-select name="selectedAppointmentTypeId" ngModel required>
                <mat-option *ngFor="let appointmentType of appointmentTypeList" [value]="appointmentType.id">
                    {{appointmentType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 180px">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [matDatepickerFilter]="myFilter" name="selectedDate" ngModel readonly required (click)="picker.open()">
            <mat-datepicker-toggle style="margin-right: 0" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" [calendarHeaderComponent]="customHeader"></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!form.valid">Search</button>
    </form>
</div>

<div class="mat-elevation-z3" id="results-div">
    <div class="mat-elevation-z3 result-div" *ngFor="let clinicPriceWrapper of clinicPriceWrapperList" [routerLink]="[clinicPriceWrapper.clinic.id, 'doctors']" [queryParams]="{appointmentTypeId: selectedAppointmentTypeId, date: selectedDate}">
        <p class="result-clinic-name">{{clinicPriceWrapper.clinic.name}}</p>
        <p class="result-clinic-address">{{clinicPriceWrapper.clinic.address}}</p>
        <div>
            <p class="result-clinic-rating"><b>{{clinicPriceWrapper.clinic.ratingAverage}}</b> <mat-icon>star_border</mat-icon></p>
            <div class="predefined-price-wrapper">
                <p *ngIf="clinicPriceWrapper.price?.discount === 0">{{clinicPriceWrapper.price?.price}} rsd</p>
                <ng-container *ngIf="clinicPriceWrapper.price?.discount > 0">
                    <p class="price-crossed">{{clinicPriceWrapper.price?.price}}</p>
                    <p>(-{{clinicPriceWrapper.price?.discount}}%)</p>&nbsp;
                    <p>{{clinicPriceWrapper.price?.price * ((100 - clinicPriceWrapper.price?.discount) / 100)}}rsd</p>
                </ng-container>
            </div>
        </div>
    </div>
</div>
