/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100%;
  //height: 100%; // default material, but introduces weird stuff when routed element has top margin
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  // Fix for email input when chrome does autofill (https://stackoverflow.com/a/37432260)
  @-webkit-keyframes autofill {
    to {
      color: #FFFFFF00 !important;
      background: transparent;
    }
  }
  input:-webkit-autofill {
    -webkit-animation-name: autofill !important;
    -webkit-animation-fill-mode: both !important;
  }
  // end fix
}

// Fix for datepicker calendar height when using custom empty header
.mat-calendar {
  height: initial !important;

  mat-month-view .mat-calendar-table {
    margin-top: 8px;
  }
}
// end fix
