#list-header {
  text-align: center;
}

.appointment-div {
  margin: 10px;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;

  mat-icon {
    transform: scale(0.9);
    vertical-align: text-bottom;
  }

  p {
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block;
  }

  .predefined-type {
    margin-right: 1em;
  }

  .predefined-date {
    margin-right: 1em;
  }

  .predefined-time {
    margin-right: 1em;
  }

  .predefined-room {
    margin-right: 1em;
  }

  .predefined-doctor {
    margin-right: 1em;
  }

  #predefined-price-wrapper {
    display: inline-block;
    float: right;

    .price-crossed {
      text-decoration: line-through;
    }
  }
}
