<div id="table-wrapper" class="mat-elevation-z3">
    <p>Clinics</p>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let clinic">{{clinic.name}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let clinic">{{clinic.address}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let clinic">{{clinic.city}}</td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-cell *matCellDef="let clinic">{{clinic.country}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let clinic">{{clinic.description}}</td>
        </ng-container>


        <ng-container matColumnDef="noRecord">
            <td mat-footer-cell [attr.colspan]="columnsToDisplay.length" *matFooterCellDef>No clinics found.</td>
        </ng-container>
        <ng-container matColumnDef="loading">
            <td mat-footer-cell [attr.colspan]="columnsToDisplay.length" *matFooterCellDef>Loading</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [routerLink]="[row.id]" class="clickable-row"></tr>
        <tr [hidden]="!loading" mat-footer-row *matFooterRowDef="['loading']"></tr>
        <tr [hidden]="dataSource?.data.length > 0 || loading" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
    </table>
</div>
