<app-header></app-header>
<div id="table-wrapper" class="mat-elevation-z3">
    <div>
        <p>Rooms</p>
        <a mat-raised-button [routerLink]="['create']">New</a>
    </div>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="clinic">
            <th mat-header-cell *matHeaderCellDef>Clinic</th>
            <td mat-cell *matCellDef="let room">{{room.clinic?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Number</th>
            <td mat-cell *matCellDef="let room">{{room.number}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let room">{{room.name}}</td>
        </ng-container>


        <ng-container matColumnDef="noRecord">
            <td mat-footer-cell [attr.colspan]="columnsToDisplay.length" *matFooterCellDef>No rooms found.</td>
        </ng-container>
        <ng-container matColumnDef="loading">
            <td mat-footer-cell [attr.colspan]="columnsToDisplay.length" *matFooterCellDef>Loading</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [routerLink]="[row.id]" class="clickable-row"></tr>
        <tr [hidden]="!loading" mat-footer-row *matFooterRowDef="['loading']"></tr>
        <tr [hidden]="dataSource?.data.length > 0 || loading" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
    </table>
</div>
